title: Simple Configuration Server
description: A server for hosting configuration files and variables that's designed to be simple to deploy and use
url: "https://simple-configuration-server.github.io"

theme: "just-the-docs"

plugins:
  - jekyll-sitemap

defaults:
  # Exclude Google verification html from sitemap
  - scope:
      path: "google*.html"
    values:
      sitemap: false

permalink: pretty
exclude:
  - "Gemfile"
  - "Gemfile.lock"
  - "README.md"
  - LICENSE

search_enabled: false

heading_anchors: true

aux_links_new_tab: true

nav_external_links:
  - title: SCS on GitHub
    url: https://github.com/simple-configuration-server/simple-configuration-server

footer_content: "Copyright &copy; 2022 Tom Brouwer. Shared under <a href=\"https://github.com/simple-configuration-server/simple-configuration-server.github.io/tree/master/LICENSE\">MIT license.</a>"

# Footer properties
last_edit_timestamp: true
last_edit_time_format: "%FT%H:%M%z"
gh_edit_link: true
gh_edit_link_text: "Edit this page on GitHub"
gh_edit_repository: "https://github.com/simple-configuration-server/simple-configuration-server.github.io"
gh_edit_branch: "master"
gh_edit_view_mode: "tree"

# Settings for just-the-docs
color_scheme: nil
callouts_level: quiet
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false
